<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>表单</title>
    <link rel="stylesheet" href="/static/vipadmin/frame/layui/css/layui.css">
    <link rel="stylesheet" href="/static/vipadmin/css/style.css">
    <link rel="icon" href="/static/vipadmin/image/code.png">
</head>
<body class="body">

<fieldset class="layui-elem-field layui-field-title">
    <legend>
        <span class="layui-breadcrumb">
            <a href="/admin">首页</a>
            <a><cite>添加文章</cite></a>
        </span>
    </legend>
</fieldset>

<form class="layui-form" id="user-form" enctype="multipart/form-data" >
   <input type="hidden" name="id" id="id" value="{{.news.Id}}">
   <div class="layui-form-item">
        <label class="layui-form-label">分类</label>
        <div class="layui-input-inline">
            <select name="catid" lay-filter="catid">
				{{range $key,$value:=.newstypes}}
				{{if eq $value.Id $.news.Catid}}
                <option value="{{$value.Id}}" select>├ {{$value.Catname}}</option>
				{{else}}
				<option value="{{$value.Id}}">├ {{$value.Catname}}</option>
				{{end}}
				{{end}}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="required" placeholder="请输入标题" value="{{.news.Title}}" autocomplete="off" class="layui-input">
        </div>
    </div>
     <div class="layui-form-item">
        <label class="layui-form-label">缩略图</label>
        <div class="layui-input-inline">
		   <input type="hidden" id="thumb" name="thumb" value="{{.news.Thumb}}">
           <div class="site-demo-upload">
			  <img id="LAY_demo_upload" src="{{.news.Thumb}}" width="200"  onerror="this.src='/static/vipadmin/image/upload.png'">
			  <div class="site-demo-upbar">
			    <input type="file" name="file" id="file" class="layui-upload-file" >
			  </div>
			</div>
        </div>
    </div>
	<div class="layui-form-item">
        <label class="layui-form-label">关键词</label>
        <div class="layui-input-block">
            <input type="text" name="keywords" placeholder="请输入关键词"  value="{{.news.Keywords}}" autocomplete="off" class="layui-input">
        </div>
    </div>
	<div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入描述" name="description" class="layui-textarea">{{.news.Description}}</textarea>
        </div>
    </div>
	 <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor">{{.news.Content}}</textarea>
        </div>
    </div>
	<div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input type="text" name="sort" value="{{.news.Sort}}" placeholder="请输入分类排序" autocomplete="off" class="layui-input">
        </div>
    </div>
	<div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">

            <input type="checkbox" {{if eq .news.Status 1}}checked{{end}} name="status" value="1" lay-skin="switch" lay-filter="switchTest" title="发布">
        </div>
    </div>
	

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" name="submit" value="提交" lay-filter="demo1">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script src="/static/vipadmin/js/jquery.js" charset="utf-8"></script>
<script src="/static/vipadmin/frame/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">

    layui.use(['form','upload', 'layedit'], function(){
        var form = layui.form()
                ,layer = layui.layer
                ,layedit = layui.layedit;

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');


		layui.upload({
		    url: '/file/upload'
		    ,elem: '#file' //指定原始元素，默认直接查找class="layui-upload-file"
		    ,method: 'post' //上传接口的http类型
		    ,success: function(res){
		      LAY_demo_upload.src = res.data;
			  $("#thumb").val(res.data)
		    }
		  });

        //监听提交
        form.on('submit(demo1)', function(data){
           
			data.field.content = layedit.getContent(editIndex);
			layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            });
			//return false;
			$.post("/admin/news/editpost",data.field,function(data){
				console.log(data);
				if(data.code==1){
					 layer.msg('提交成功，正在为您跳转', {
		                icon: 16
		                ,shade: 0.01
		            });
					window.location="/admin/news";
				}else{
					layer.msg('修改失败，请检查你的信息！');
				}
			},"json")
			return false;
        });


    });
</script>
</body>
</html>