<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<title>OSSweb直传</title>
	<link rel="stylesheet" type="text/css" href="/static/oss/style.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

<h2>OSSweb直传</h2>
<form name=theform>
<input type="hidden" name="myradio" value="random_name">
<!--上传到指定目录:--><input type="hidden" id='dirname'>
</form>

<h4>您所选择的文件列表：</h4>
<div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>
<br/>

<div id="container">
	<a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
	<a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a>
</div>

<pre id="console"></pre>

<p>&nbsp;</p>

</body>
<script type="text/javascript" src="/static/oss/lib/crypto1/crypto/crypto.js"></script>
<script type="text/javascript" src="/static/oss/lib/crypto1/hmac/hmac.js"></script>
<script type="text/javascript" src="/static/oss/lib/crypto1/sha1/sha1.js"></script>
<script type="text/javascript" src="/static/oss/lib/base64.js"></script>
<script type="text/javascript" src="/static/oss/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/static/oss/upload.js"></script>
</html>
